<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
        <!--<Property name="log-path">d:\\logs</Property>-->
        <Property name="log-path">/home/finvendo/logs/finvendor.log</Property>
        <Property name="archive">${log-path}/archive</Property>
    </Properties>
    <Appenders>
        <RollingFile name="RollingFile-Appender"
                     fileName="${log-path}/finvendor.log"
                     filePattern="${archive}/finvendor.log.%d{yyyy-MM-dd-hh-mm}.gz">

            <!-- We used the pattern  attribute of <Patternlayout>  to
                define a pattern that specifies when the log file should get rolled for a time-based policy. -->
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{-2} - %msg%n"/>
            <!-- We used the <Policies>  tag to define two triggering policies: Time-based and sized-based.
             The time-based policy is set to roll the log file daily while the sized-based policy is set
             to roll the log file once its size exceeds 30 MB.-->
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="30 MB"/>
            </Policies>
            <!-- We used the <DefaultRollover>  tag to instruct Log4J 2 to keep up to 30 rolling files before deleting them.-->
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.finvendor" level="debug" additivity="false">
            <AppenderRef ref="RollingFile-Appender" level="debug"/>
        </Logger>
    </Loggers>
</Configuration>