a,
a:hover,
a:active {
	text-decoration: none !important;
	outline: none !important;
}
/** Header CSS**/
.header-container{
	background: #414b4f;
	/*border-bottom: 2px solid;*/
	height: 60px;
	margin-bottom: 20px;
}

.header-container .container {
	width: auto;
}

.header-container .header .logo img {
	height: 40px;
}
.header .logo{
	display: inline-block;
	padding: 0 5px;
    border-radius: 4px;
    margin-top: 10px;
}
.header-container .header {
	height: 100%;
	padding: 0;
}

.nav-container{
	margin-bottom: 20px;
	float: left;
}
.nav-container .container {
	width: auto;
}
.nav-container .nav-srch{
	padding: 0px;
	background: none;
}
.nav-container .nav-srch-cnt{
	background: none;
	height: auto;
	border: none;
}
.nav-container .sf-menu{
	float: none;
	margin-bottom: 0px;
	height: 60px;
	padding: 0 !important;
}
.nav-srch-cnt>ul>li{
	height: 60px !important;
	border-right: 0;
}
.nav-srch-cnt >ul >li >a{
	color: #000;
	font-size: 14px;
    padding: 10px 23px;
    line-height: 20px;
}

.nav-srch-cnt >ul >li >a:hover,
.nav-srch-cnt >ul >li.sfHover >a,
.nav-srch-cnt >ul >li.sfHover {
	background: #34bf98;
	color: #fff;
	text-decoration: none;
}

.sf-arrows .user_activity .sf-with-ul:after {
    border-top-color: #34bf98;
}

.sf-arrows li.user_activity.sfHover .sf-with-ul:after {
	margin-top: -6px;
	transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transition: .5s all ease;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    border-top-color: #34bf98;
}

.nav-srch-cnt >ul >li.user_activity >a:hover,
.nav-srch-cnt >ul >li.user_activity.sfHover >a,
.nav-srch-cnt >ul >li.user_activity.sfHover {
	background: #414b4f;
	color: #fff;
}


.nav-srch-cnt >ul >li.user_activity.sfHover ul li a:hover {
	background: #34bf98;
}

.nav-srch-cnt >ul >li.user_activity ul li {
	background: #414b4f;
}

.nav-srch-cnt >ul >li.user_activity a span {
	font-size: 11px;
	font-weight: normal;
}

.sf-arrows .sf-with-ul:after {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transition: .5s all ease;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    border-top-color: #a0a0a0;
}

.sf-arrows li.sfHover .sf-with-ul:after {
	margin-top: -6px;
	transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transition: .5s all ease;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    border-top-color: #414b4f;
}

.nav-srch-cnt >ul >li >a i{
	font-size: 15px;
	padding-right: 10px;
}
.sf-arrows .sf-with-ul:after{
	border-top-color: #a0a0a0;
}

.header-container .pull-right {
	height: 60px;
}

.pull-right{
	float: right;
}
.sf-menu ul {
    top: 60px;
    left: 0;
	width: 230px;
}
.sf-menu ul li {
    background: #34bf98;
}
.sf-menu ul li:hover {
    background: #34bf98;
}
.sf-menu li ul li a {
    border-bottom: 1px solid #FFF;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}
.contact-detail{
	text-align: right;
}
.contact-detail p{
	font-size: 14px;
	text-align: right;
}
.contact-detail ul{
	padding: 14px 0 0;
}
.contact-detail ul li{
	display: inline-block;
	font-size: 14px;
}
.contact-detail ul li.block{
	display: block;
}
.contact-detail ul li a{
	font-size: inherit;
    display: block;
    padding: 5px 10px;
}

/***************************
	Links Style 
***************************/
.link{
	color: #ff8000;
}

/***************************
	Form CSS
***************************/

.form-group{
	padding: 3px 0px;
	
}
.form-group.medium{
	padding: 5px 0px;
}
.control-group-row{
	clear: both;
	padding-bottom: 10px;
	overflow: auto;
}
.form-group.medium-width{
	width: 75%;	
}
.form-group.half-width{
	width: 50%;
	float: left;
	padding: 5px 20px 5px 0;
}
.form-group .form-control {
    padding: 5px 10px;
    border-radius: 4px;
    height: 34px;
    font-size: 14px;
    width: 100%;
	border: 1px solid #a0a0a0;
	margin: 0;
}
.form-group.medium .form-control{
	padding: 7px 10px;
	font-size: 16px;
	height: 40px;
}
.form-group textarea.form-control{
	height: 70px;
}
.form-group label{
	font-size: 16px;
	display: block;
	line-height: 30px;
}
.form-group select[multiple="multiple"].form-control{
	height: 226px;
}
.form-group select[multiple="multiple"].form-control option{
	padding: 3px 5px;
    font-size: 12px;
    border-bottom: 1px solid #f0f0f0;
}
.form-group select[multiple="multiple"].form-control option:first-child{
	color: #529ECC;
}
span.help-test{
	font-size: 12px;
    display: block;
    line-height: 20px;
	color: #333;
}
/***************************
	Button CSS
***************************/

.btn,
.tab-navigation a {
  display: inline-block;
  padding: 8px 20px;
  font-size: 16px;
  border: none;
  background: #cccccc;
  border-radius: 4px;
  font-family: sans-serif;
}
.btn.success {
  background-color: #5cb85c;
}
.btn.info,
.tab-navigation a {
  background-color: #5bc0de;
  color: #FFF;
}
.btn.warning{
  background-color: #f0ad4e;
}
.btn.danger {
  background-color: #d9534f;
  color: #fff;
}
.btn.primary,
.tab-navigation a.active  {
  background-color: #337ab7;
  color: #fff;
}
.btn.iconic {
  padding: 5px 10px;
}
.btn.large {
  padding: 14px 30px;
  font-size: 24px;
}
.btn.block{
	display: block;
}

.btn-group {
  padding: 20px 0px;
}
.btn-group.right {
  text-align: right;
}

/***************************
	Footer CSS
***************************/

.footer-container{
	border-top: 2px solid #ff8000;
	margin-top: 30px;
}
.footer-container.home {
    background: #333;
    color: #FFF;
}
.footer{
	padding: 20px 0;
}
.footer-container.home .footer-left-wrap ul li a,
.footer-container.home .footer-left-wrap ul li{
	color: #FFF;
}
.footer-container.home .footer-left-wrap ul li a:hover{
	color: #ff8000;
}
/***************************
	Modal
***************************/
.modal-wrapper{
	padding: 20px;
}
.cd-user-modal-container .cd-switcher li a{
	border-radius: 10px !important;
}

.form-wrapper{
	padding-top: 40px;
}
#cd-login{
	max-width: 650px;
}
a:hover{
	text-decoration: none;
}
.tab-navigation li{
	display: inline-block;
}
.text_area{
	padding: 0px 0;
}
.portlet-title{
	min-height: 0px;
}
.ColumnCommonmyprofile{
	padding: 0px !important;
    width: 25% !important;
	background-color: transparent !important;
}
.Rowtable{
	overflow: auto;
}
div.lable_header {
    padding: 0px !important;
	background-color: transparent !important;
}
div.lable_header a {
    display: block;
    font-size: 14px;
    padding: 7px;
    line-height: 25px;
}

.jstree-default .jstree-anchor label{
	display: inline;
}

th{
    white-space:nowrap;
}
.errorMessage {
	font-size:12px; 
	font-weight:bold;
	color:red; 
}

.controls select,
.controls input[type=text],
.control-group select,
.control-group input[type=text]{
	box-sizing: border-box;
	height: 30px !important;
	padding: 5px 4px;
}
.controls select[multiple],
.control-group select[multiple]{
	height: 70px !important;
}


.form-horizontal .control-labelalign-checkbox {
    float: left;
    padding-top: 5px;
    text-align: left;
    font-size: 12px;
    font-family: "Raleway", sans-serif;
}



/**
 * @author Maninder Singh Rajpal
 * @date Jul 01, 2016
 * @emailId wonderfulmani@gmail.com
 * Copyrights: All Rights Reserved FinVendor
 */

.sf-menu ul {
	display: none;
}
#searchmultiform .ColumnCommonvendor {
	width: auto;
	float: none;
	margin: 10px 0 0;
}
#searchmultiform .ColumnCommonvendor .required {
	color: #fff;
}
#searchmultiform .ColumnCommonvendor .control-group .control-label{
	text-align: center;
	padding: 5px 0 !important;
	background: #5CE5E5;
	color: #fff;
	display: block;
	float: none;
	width: auto;
}
.ColumnCommonvendormarketingdataaggregators {
	margin: 0 !important;
}
.control-groupcheckingforradiobuttons {
	margin : 0 0 10px !important;
}
.control-label {
	margin : 0 !important;
}
.control-label input {
	margin: 0 10px 0 0 !important;
}

#searchmultiform .Row {
	padding-top: 10px !important;
}
#searchmultiform .control-group {
	margin-bottom: 10px !important;
}
#searchmultiform  .ColumnCommonvendor .control-group {
	margin-bottom: 0 !important;
}

.Rowtableinfoval {
	background: transparent !important;
}
.ColumnCommonmyprofiletradingapplication {
	width: auto !important;
	margin-left: 0 !important;
	padding: 0 !important;
}

#searchmultiform  .lable_header {
	background: transparent !important;
	color: #000 !important;
	padding: 0 !important;
}

.ColumnCommonvendorTradingApplicationVendor {
	width: 32% !important;
}

.selectOptions {
	padding: 5px !important;
}

#searchmultiform  .multisearch {
	display: none;
	overflow: hidden;
	margin-bottom: 10px;
}
#searchmultiform .multisearch .Row {
	padding-top: 0 !important;
}
#searchmultiform  .multisearch .lable_header {
	text-align: left;
	margin: 0 0 10px !important;
}
#searchmultiform .multisearch .control-group label {
	float: none !important;
}
#searchmultiform  label {
	font-family: Raleway, sans-serif; 
	font-size: 13px;
	cursor: default;
}
#searchmultiform .multisearch .control-group select, #searchmultiform .multisearch .control-group input {
	width: 209px !important;
	height: 70px !important;
}
#searchmultiform #common-vendor-type select#vendorregionofincorp, #searchmultiform #common-vendor-type select#vendorcountryofincorp {
	height: 91px !important;
}
#searchmultiform #common-vendor-type select, #searchmultiform #common-vendor-type input {
	width: 285px !important;
}
#searchmultiform  .multisearch#multipleAsset .lable_header {
	text-align: center;
}
#searchmultiform .multisearch#multipleAsset .control-group select, #searchmultiform .multisearch#multipleAsset .control-group input {
	width: 220px !important;
}
#searchmultiform #asset-class-type {
	margin: 0;
}
#searchmultiform #common-vendor-type .control-group {
	float: left;
	margin: 0 10px;
	height: auto !important;
}
#searchmultiform #singleAsset .control-group {
	float: left;
	margin: 0 10px;
	height: auto !important;
}
#singleAsset .ColumnCommontradingappinterestratemarket {
	float: none !important;
	width: auto !important;
	padding: 0 !important;
}
.form-horizontal #singleAsset .control-labeltradingapp {
	width: 190px !important;
}
#searchmultiform #multipleAsset .control-group {
	height: 70px !important;
}
#searchmultiform #multipleAsset .ColumnCommontradingappinterestratemarket {
	width: 23.5% !important;
}
#searchmultiform #multipleAsset .ColumnCommontradingapp {
	width: 19%;
	padding: 22px 0px 0px 11px;
}
.form-horizontal #multipleAsset .control-labeltradingapp {
	width: auto;
}
.ColumnCommontradingappinterestratemarket {
	padding: 10px 0px 0px 22px !important;
}
#searchmultiform .form-horizontal .control-labelcheckbox {
	padding-top: 0;
}
.portlet-body {
	clear: both;
}
.error_section {
    background: #ffffff;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
	padding: 15px;
}
.append_bottom15 {
    margin-bottom: 15px;
}
.append_bottom12 {
    margin-bottom: 12px;
}
.error_txt {
    font-size: 36px;
    color: #ab463b;
    font-weight: bold;
    line-height: 36px;
}
.error_txt_3 {
    font-size: 14px;
    color: #2f2f2f;
	line-height: 24px;
}
.mascot_error {
	float: left;
	padding: 0 15px;
}
.mascot_error  img {
	height : 100px;
}
.right_nav_1 ul li a {
	float: right !important;
}
#assetResult .portlet {
	margin-bottom : 10px;
}
#assetResult .portlet-content {
	overflow: hidden;
}
#assetResult .portlet-content .vendor-logo {
	float: left;
	margin-right: 10px;
	width: 8%;
}
#assetResult .portlet-content .vendor-overview {
	float: left;
	width: 90%;
	line-height : 24px;
}
#assetResult .portlet-content .vendor-overview h2{
	font-weight:bold;
}
#assetResult .portlet-content .vendor-overview tbody:before {
	content: '';
}
#assetResult .portlet-content .vendor-overview tr td {
	width : 28%;
}
#assetResult .portlet-content .vendor-overview tr td label {
	font-weight: bold;
}
.required {
    color: rgb(224, 34, 34);
    font-size: 14px;
    font-family: Raleway, sans-serif;
    padding-left: 2px;
}
.error {
    color: rgb(224, 34, 34);
    font-family: Raleway, sans-serif;
    padding: 5px 0;
	text-align: right;
	display: none;
}

.text_area{
	margin-bottom: 10px;
	overflow: hidden;
}



/**********Start of Header and Footer**************/

@media only screen and (min-width: 1200px)
	.container {
		width: auto;
	}
}

.nav-container {
	margin-bottom: 0;
}

.header-container .sf-menu li {
	display: block;
	text-align: left;
}

.header-container .sf-menu a {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 60px;
	color: #fff;
}

.header-container .sf-menu .sfHover ul li a:hover {
	background: #414b4f;
}

.header-container .sf-menu ul li a {
	line-height: normal;
	padding-top: 10px;
	padding-bottom: 10px;
}

#header_user_profile.dropdown {
	margin-right: 0;
	margin-top: 0;
	width: auto;
}

#header_user_profile {
	height: 60px;
	line-height: 60px;
}

.header-container .sf-menu .user_activity.sfHover {
	background: transparent;
}

.header-container .sf-menu #header_user_profile a.account {
	height: 60px;
	margin-top: 0;
	background: none;
	position: static;
	width: auto;
}


.header-container .sf-menu .profile-circle {
	border: none;
	width: 30px;
	height: 30px;
	margin-right: 5px;
}

.header-container .sf-menu #header_user_profile span {
	margin-right: 5px;
}

.header-container .sf-menu #header_user_profile .profilepicsubmenu {
	border-radius: 0;
	box-shadow: none;
	width: auto;
	left: auto;
	right: 0;
	padding: 0;
}

.user_activity .fa-chevron-down {
	color: #34bf98;
}

#header_user_profile .profilepicsubmenu {
	border: 0;
	right: -15px !important;
}

#header_user_profile .profilepicsubmenu a {
	line-height: 24px;
	background: #414b4f;
	padding: 5px 10px;
}
#header_user_profile .profilepicsubmenu a:hover {
	background: #34bf98;
}

#section {
	background: #f5f5f5;
}

#footer .container {
	width: auto;
	max-width: 1440px;
}

#footer .row {
	background: none;
	padding: 0;
}

.footer_wrapper {
	margin-top: 0;
	background: #414b4f;
}
#footer_top {
	color: #ccc;
	padding: 30px 0;
}

#footer_top h3 {
    margin: 0 0 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
}
#footer_top p {
    font-size: 13px;
    line-height: 20px;
}
#footer_top .section_two {
	width: 180px;
	margin: 0 auto;
}

#footer_top .section_three p {
	display: block;
	margin: 10px 0;
}

#footer_top .section_three p span {
	padding-right: 10px;
}

#footer a {
	color: #fff;
    text-transform: uppercase;
}
#footer a:hover {
	color: #34bf98;
}
#footer #footer_top ul li a {
	position: relative;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 5px;
    letter-spacing: 0.7px;
    border-bottom: 1px solid #5b6366;
    text-transform: uppercase;
    text-decoration: none !important;
    line-height: 20px;
}
#footer #footer_top ul li a span {
	padding-right: 13px;
	font-size: 11px;
}

#footer #footer_top .section_one {
	padding-right: 20px;
}

#footer #footer_top .section_two {
	padding: 0 20px;
}

#footer #footer_top .section_three {
	padding-left: 20px;
}

#footer #footer_top .section_three .fa {
	font-size: 17px;
}

#footer #footer_top .social {
	float: left;
}

#footer #footer_top .social li {
	float: left;
	display: inline;
}

#footer #footer_top .social a {
	font-size: 25px;
	margin: 10px 10px 0 0;
	border: 0;
}

#footer_bottom {
	border-top: 1px solid #5e676b;
	padding: 23px 0 20px;
}
#footer_bottom .footer_logo {
  max-width: 25px;
  margin-right: 10px;
}
#footer_bottom .copyright_text {
  margin-top: 1px;
  color: #fff;
}
#footer_bottom .copyright_text a {
  color: #fff;
  text-decoration: underline !important;
}
#footer_bottom .copyright_text a:hover {
  color: #eab830;
}

.footer_menu {
  list-style: none;
  padding: 0;
}
.footer_menu li {
  float: left;
  margin: 1px 20px 0 0;
}
.footer_menu li.current-menu-item a {
  color: #fd7635;
}
.footer_menu li a {
  text-transform: uppercase;
  color: #fff;
}
.footer_menu li a:hover {
  color: #fd7635;
}
.footer_menu li:last-child {
  margin-right: 0;
}

#footer {
	font-size: 13px;
	margin-top: 20px;
}

@media only screen and (max-width: 767px) {
	#footer .col-xs-12 {
		width: 221px;
	}

	.inner-left-wrap h1 {
		font-size: 20px;
	}
}

@media only screen and (max-width: 765px) {
	#footer {
		font-size: 11px;
	}

	#footer .col-xs-12 {
		width: 197px;
		padding-right: 0;
	}

	#footer h3 {
		font-size: 13px;
	}

	#footer #footer_top .section_two {
		padding: 0;
		width: 140px;
	}

	#footer #footer_top .section_three {
		padding-left: 0;
	}

	#footer #footer_top .section_one {
		padding-right: 0;
	}
}

@media only screen and (min-width: 551px) and (max-width: 600px) {

	#footer .col-xs-12 {
		width: 172px;
	}

	#footer_top .section_three p {
		font-size: 11px;
	}
}

@media only screen and (max-width: 550px) {

	#footer .col-xs-12 {
		width: 100%;
		padding: 0 15px;
	}

	#footer_top .section_two {
		float: left;
	}
}
/**********End of Header and Footer**************/


a#sidemenu:hover,
a#sidemenu:focus {
	background: none;
}

#sidemenu {
	padding: 0;
}

#sidemenu i {
	line-height: 60px;
}
.side-menu {
    position: fixed;
    background: #fff;
    width: 278px;
    height: 100%;
    z-index: 99991;
    right: -278px;
    padding: 0 15px;
    border-left: 3px solid #34bf98;
    overflow-y: auto;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    top: 0;
}
.side-menu.side-menu-open {
    right: 0;
}
.side-menu-list {
    margin-bottom: 20px;
}
.side-menu-list>li {
    position: relative;
    line-height: normal;
}
.side-menu-list>li>a, .side-menu-list>li>a:hover {
    text-decoration: none;
    cursor: pointer;
}
.side-menu ul li ul {
    padding: 0;
    list-style: none;
    font-size: 14px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .5s cubic-bezier(0,1.05,0,1);
    transition: max-height .5s cubic-bezier(0,1.05,0,1);
    display: block;
}
.child-main-menu {
    display: none;
    z-index: 1;
}
.side-menu-list li .child-main-menu li:first-child {
    margin-top: 5px;
}

.side-menu-list li .child-main-menu li a {
    padding: 9px 0;
    display: block;
    color: #34bf98;
    font-size: 13px;
}
.child-main-menu a {
    color: #116a9e;
    padding: 9px 15px 9px 26px;
    display: block;
    line-height: normal;
}

.side-menu-list>li>a i {
    position: absolute;
    right: 0;
    top: 21px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transition: .5s all ease;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
}
.side-menu-list>li>a, .side-menu-list>li>a:hover {
    text-decoration: none;
    cursor: pointer;
}
.side-menu-list>li>a {
    color: #000;
    padding: 18px 0 18px 0;
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 13px;
}

.side-menu ul li.active ul {
    max-height: 100%;
    transition: .5s all ease;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
}

.side-menu ul li.active a i {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transition: .5s all ease;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
}

.side-menu a.account {
	width: 100%;
	position: static;
	margin: 0;
	height: auto;
	background: none;
}

.side-menu a.account img {
	margin-right: 10px;
}

.side-menu .user_activity .fa-chevron-down {
	color: #000;
	top: 35px;
	font-size: 15px;
}

.side-menu .hd-right a {
	color: #000;
    padding: 18px 0 18px 0;
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 14px;
}

.side-menu .hd-right a i,
.side-menu .account a i {
	position: absolute;
    right: 0;
    top: 21px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transition: .5s all ease;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
}

.side-menu ul li .account span {
	font-size: 15px;
    display: inline-block;
    width: 150px;
    text-overflow: ellipsis;
    height: 16px;
    overflow: hidden;
    vertical-align: middle;
}

.side-menu ul li.active .hd-right a i {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transition: .5s all ease;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
}

.screen-block-hamburger {
    background-color: #000;
    opacity: .80;
    -ms-filter: "alpha(opacity=80)";
    filter: alpha(opacity=80);
    -khtml-opacity: .80;
    -moz-opacity: .80;
    left: 0;
    position: fixed;
    top: 0;
    transition: background-color .15s ease-out 0s;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: none;
}

/*-------------Start of Progress Bar-----------------*/

#spinner {
	display: none;
	margin: 0 auto;
	text-align: center;
}

#spinner .spinner_gif {
	display: inline-block;
	margin-bottom: 20px;
}

#spinner .spinner_gif .sk-folding-cube {
  top: 8px;
  width: 25px;
  height: 25px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

#spinner .spinner_gif .sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#spinner .spinner_gif .sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  background-color: #414b4f;
}

#spinner .spinner_gif .sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

#spinner .spinner_gif .sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

#spinner .spinner_gif .sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

#spinner .spinner_gif .sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  background-color: #34bf98;
}

#spinner .spinner_gif .sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  background-color: #414b4f;
}

#spinner .spinner_gif .sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  background-color: #34bf98;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

/*-------------End of Progress Bar-----------------*/

#slider2_container {
    float: none;
    margin: 0 auto;
}

#main-wrap .main-content-wrap {
	margin-top: 20px;
	margin-bottom: 20px;
}

#main-wrap .main-content-wrap h2 {
	padding: 0;
}

#slider-home .bx-controls-direction {
	display: none;
}

#fin_vendor_inner_pages {
	overflow: hidden;
}

.sidebar-ctn-wrap .head h3 {
	padding: 10px;
	margin: 0;
}

.inner-left-wrap {
	float: none;
	width: 100%;
}

.inner-sidebar-wrap {
	float: none;
	width: 100%;		
}

@media only screen and (max-width: 992px) {
	.inner-left-wrap {
		float: none;
		width: 100%;
	}

	.inner-sidebar-wrap {
		float: none;
		width: 100%;		
	}
}