
.jssorl-oval img{animation-name:jssorl-oval;animation-duration:1.2s;animation-iteration-count:infinite;animation-timing-function:linear}@keyframes jssorl-oval{from{transform:rotate(0);}to{transform:rotate(360deg);}}.jssorb05{position:absolute}.jssorb05 div,.jssorb05 div:hover,.jssorb05 .av{position:absolute;width:16px;height:16px;) no-repeat;overflow:hidden;cursor:pointer}.jssorb05 div{background-position:-7px -7px}.jssorb05 div:hover,.jssorb05 .av:hover{background-position:-37px -7px}.jssorb05 .av{background-position:-67px -7px}.jssorb05 .dn,.jssorb05 .dn:hover{background-position:-97px -7px}.jssora22l,.jssora22r{display:block;position:absolute;width:40px;height:58px;cursor:pointer;background:url('${pageContext.request.contextPath}/resources/images/banner/a02.png') center center no-repeat;overflow:hidden}.jssora22l{background-position:-5px -31px}.jssora22r{background-position:-66px -31px}.jssora22l:hover{background-position:-125px -31px}.jssora22r:hover{background-position:-186px -31px}.jssora22l.jssora22ldn{background-position:-245px -31px}.jssora22r.jssora22rdn{background-position:-306px -31px}.jssora22l.jssora22lds{background-position:-5px -31px;opacity:.3;pointer-events:none}.jssora22r.jssora22rds{background-position:-66px -31px;opacity:.3;pointer-events:none}

.banner-content{position:absolute;top:120px;right:150px;max-width:930px;z-index:0;padding:0 20px;font-size:48px;line-height:50px;text-align:left;font-family:MorebiRounded-Regular,proxima_nova_rgregular;font-weight:700}
.banner-content1,.banner-content2{top:150px;max-width:930px;z-index:0;padding:0 20px;font-size:48px;line-height:50px;font-family:MorebiRounded-Regular,proxima_nova_rgregular;font-weight:700;color:#fff;position:absolute}.banner-content2{left:180px;text-align:left}.banner-content1{right:150px;text-align:right}.banner-content div span,.banner-content1 div span,.banner-content2 div span{font-weight:400;font-size:32px}.banner-content span.know-more{margin-top:20px}.banner-content span.know-more a{font-size:24px;border:3px solid #333;border-radius:35px;padding:5px 40px;margin-top:20px;display:inline-block;color:#333}.banner-content1 span.know-more a,.banner-content2 span.know-more a{font-size:24px;border:3px solid #fff;border-radius:35px;padding:5px 40px;margin-top:20px;display:inline-block;color:#fff}.banner-content span.know-more a:hover,.banner-content1 span.know-more a:hover,.banner-content2 span.know-more a:hover{background:#0072b9;color:#fff;border:3px solid #0072b9}

.jssorb05 .av {
    background-color: #34bf98;
    border-radius: 50%;
}
.jssorb05 div {
    background-color: #414b4f;
    border-radius: 50%;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
	#jssor_1 {
	    height: 300px!important;
	}
	#jssor_1>div {
		transform: scale(.551616)!important;
	}
	.banner-content, .banner-content1, .banner-content2 {
		max-width: 581px;
		left: 40px;
		text-align: left;
	}
	.jssora22l, .jssora22r {
		display: none;
	}

	.jssorb05 {
		left: 45.5%!important;
		bottom: 180px!important;
	}

	#jssor_1>div, #jssor_1>div>div {
		width: 680px!important;
	}
}
