/* ---------------------------------------------------------- */
.demo select {
	-moz-appearance: none;
	-webkit-appearance: none;
	background: #fff url("../images/arrow.png") no-repeat scroll 85% center;
	border: 0 none !important;
	color: #b0c1bd;
	font-weight: 200;
	padding: 11px;
	font-size: 14px;
	text-indent: 0.01px;
	text-overflow: "";
	width: 5px;
	margin-top: 7px;
}

.demo_1_test select {
	/* background: url("https://cdn2.bankbazaar.com/images/new_gateway_page_images/search-dd-bg-op.png") repeat center; */
	padding: 0px 8px 0px 8px;
	width: 200px;
	color: #333;
	font-size: 13px;
	border-radius: 12px;
}

.demo_1 select {
	/* background: url("https://cdn2.bankbazaar.com/images/new_gateway_page_images/search-dd-bg-op.png") repeat center; */
	padding: 10px 10px 7px 10px;
	width: 200px;
	color: #333;
	font-size: 13px;
	margin-right: 10px;
	overflow: hidden;
	border: 1px solid #ccc;
	height: auto;
	left: 0;
	overflow: hidden;
	position: inherit;
	right: 0;
	text-align: left;
	top: 0;
	line-height: 18px;
	border-radius: 12px;
}

.demo_1_common select {
	/* background: url("https://cdn2.bankbazaar.com/images/new_gateway_page_images/search-dd-bg-op.png") repeat center; */
	border: 0 none !important;
	color: #333;
	font-weight: 200;
	padding: 10px;
	font-size: 12px;
	text-indent: 0.01px;
	width: 333%;
	margin-top: 13px;
	left: 0;
	overflow: hidden;
	position: inherit;
	right: 0;
	text-align: left;
	top: 0;
	line-height: 18px;
	border-radius: 12px;
}

.demo_1_common_test select {
	/* background: url("https://cdn2.bankbazaar.com/images/new_gateway_page_images/search-dd-bg-op.png") repeat center; */
	border: 0 none !important;
	color: #333;
	font-weight: 200;
	font-size: 12px;
	margin-top: 8px;
	width: 163px;
	border-radius: 12px;
}

.demo_1_common_test_single select {
	/* background: url("https://cdn2.bankbazaar.com/images/new_gateway_page_images/search-dd-bg-op.png") repeat center; */
	border: 0 none !important;
	color: #333;
	font-weight: 200;
	font-size: 12px;
	margin-top: 8px;
	width: 204px;
	border-radius: 12px;
}

.seclect {
	width: auto;
	float: left;
	padding: 9px 5px 0px 0px;
	font-size: 14px;
	color: #b0c1bd;
	font-weight: 200;
}

.text_area_1 {
	width: auto;
	float: left;
	color: #000;
	margin: -21px 10px 10px 0;
	font-weight: 600;
	font-size: 14px;
}

.demo_1 .seleray {
	width: 177%;
	margin: 3px 4px 9px 109px;
}

.demo_1 .selerayulu {
	width: 168%;
	margin: 3px 4px 9px 109px;
	background-color: #e9eaea;
	border: medium none;
	color: #000;
	float: left;
	font-family: open_sansregular;
	font-size: 13px;
	font-weight: normal;
	height: 40px;
	line-height: 20px;
	padding-left: 15px;
}

/*******************end dropdown*************************/
.area {
	width: auto;
	float: right;
	margin-right: 2%;
}

.area_1 {
	width: 42%;
	float: right;
	margin-right: 0;
	color: #000;
}

.arw {
	margin: 2px 8px;
	width: auto;
	float: left;
}

.text_arw {
	width: auto;
	float: left;
}

.vandor_name_back {
	background: #5ce5e5 !important
}

.ic {
	width: auto;
	margin: 0 10px;
	float: left;
}

.ic_text {
	width: auto;
	float: left;
	font-size: 12px;
	font-weight: 600;
}

.ic_text a {
	color: #FF7F00;
}

.ic_text a:hover {
	color: #000;
}

/***********************************************Search Form*************************************/
.text1 {
	background-color: #fff;
	border: 0;
	border-radius: 3px;
	color: #ccc;
	float: left;
	font-size: 14px;
	font-weight: normal;
	height: 24px;
	line-height: 20px;
	margin: 0;
	padding-left: 15px;
	width: 131px;
}

.search_b {
	background: #fff;
	border: none;
}

.search_area {
	width: 190px;
	float: right;
	margin: 2px 5px 0 10px;
	border: 1px solid #ccc;
	background: #fff;
	margin-top: -3.8%;
	position: relative;
	z-index: 10000000000;
}

/*****************************************************************************/
#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #menu-button
	{
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 2;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#cssmenu:after,#cssmenu>ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#cssmenu #menu-button {
	display: none;
}

#cssmenu {
	width: auto;
	line-height: 1;
	margin-top: 0;
	position: relative;
	z-index: 1000;
}

#menu-line {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-ms-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}

#cssmenu>ul>li {
	float: left;
}

#cssmenu>ul>li img {
	position: relative;
	top: 21px;
}

#cssmenu.align-center>ul {
	font-size: 0;
	text-align: center;
}

#cssmenu.align-center>ul>li {
	display: inline-block;
	float: none;
}

#cssmenu.align-center ul ul {
	text-align: left;
}

#cssmenu.align-right>ul>li {
	float: right;
}

#cssmenu.align-right ul ul {
	text-align: right;
}

#cssmenu>ul>li>a {
	color: #fff;
	font-size: 14px;
	padding: 10px 13px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	transition: color 0.2s ease 0s;
}

#cssmenu>ul>li:hover>a,#cssmenu>ul>li#active>a {
	color: #fff;
	background: #5CE5E5;
	border-radius: 0;
}

#cssmenu>ul>li.has-sub>a {
	padding-right: 25px;
}

#cssmenu>ul>li.has-sub>a::after {
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
	height: 6px;
	position: absolute;
	right: 12px;
	transform: rotate(45deg);
	transition: border-color 0.2s ease 0s;
	width: 6px;
}

#cssmenu>ul>li.has-sub:hover>a::after {
	border-color: #2bafaf;
}

#cssmenu ul ul {
	position: absolute;
	left: -9999px;
}

#cssmenu li:hover>ul {
	left: auto;
}

#cssmenu.align-right li:hover>ul {
	right: 0;
}

#cssmenu ul ul ul {
	margin-left: 100%;
	top: 0;
}

#cssmenu.align-right ul ul ul {
	margin-left: 0;
	margin-right: 100%;
}

#cssmenu ul ul li {
	-webkit-transition: height .1s ease;
	-moz-transition: height .1s ease;
	-ms-transition: height .2s ease;
	-o-transition: height .1s ease;
	transition: height .1s ease;
}

#cssmenu ul li:hover>ul>li {
	height: auto;
}

#cssmenu ul li>ul>li.spsr {
	height: 12px !important;
	display: block;
	color: #fff;
	font-size: 20px;
}

#cssmenu ul ul li a {
	padding: 8px 5px;
	width: 200px;
	font-size: 12px;
	background: #e5e5e5;
	border-bottom: 1px solid #fff;
	text-decoration: none;
	color: #000;
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-ms-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
}

.ar {
	width: auto;
	float: right;
	margin-left: 10px;
	margin-top: -11px;
}

#cssmenu ul ul li a span {
	display: block;
	color: #000;
	padding: 0;
}

#cssmenu ul ul li a span:hover {
	display: block;
	color: #fff;
	background: #000;
}

#cssmenu ul ul li:hover>a,#cssmenu ul ul li a:hover {
	color: #ffffff;
	background: #2bafaf;
}

#cssmenu ul ul li.has-sub>a::after {
	position: absolute;
	top: 5px;
	right: 10px;
	width: 4px;
	height: 4px;
	border-right: 1px solid #dddddd;
	content: "";
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: border-color 0.2s ease;
	-moz-transition: border-color 0.2s ease;
	-ms-transition: border-color 0.2s ease;
	-o-transition: border-color 0.2s ease;
	transition: border-color 0.2s ease;
}

#cssmenu.align-right ul ul li.has-sub>a::after {
	right: auto;
	left: 10px;
	border-bottom: 0;
	border-right: 0;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
}

#cssmenu ul ul li.has-sub:hover>a::after {
	border-color: #ffffff;
}

.menu_mar {
	margin-top: 20px;
	width: 100%;
	float: left;
	padding: 0;
	background: url(../images/nav-srch-bg.png) repeat-x;
	border: 1px solid #aaaaaa;
}

.search_e {
	width: 50%;
	float: left;
	margin: -1px 0;
}

input[type="radio"]:checked {
    margin: 3px 0.5ex;
    padding: initial;
    background-color: initial;
    border: initial;
}

.search_radio {
	width: 6%;
	float: left;
}
/* #F1F1F1 #F2F2F2 */
.required {
	color: #e02222;
	font-size: 12px;
	padding-left: 2px;
}

.search_radio_text {
	width: 45%;
	float: left;
	margin-left: -1%;
	font-size: 14px;
	font-weight: 700;
	color: #FFFF;
	margin-top: -5px;
}

.frm_area {
	width: 100%;
	float: left;
	background-color: #ECF0F1;
	border-radius: 7px;
}

.frm_area_common {
	width: 100%;
	float: left;
	background-color: #ECF0F1;
	border-radius: 6px;
}

.frm_area_common_singlerayulu {
	width: 97%;
	float: left;
	background-color: #ECF0F1;
	border-radius: 6px;
	margin-top: 5px;
}

.frm_area_common_rayulu {
	width: 100%;
	float: left;
	background-color: #ECF0F1;
	border-radius: 6px;
	margin-top: 7px;
}

.frm_area_common_multi {
	width: 100%;
	float: left;
	background-color: #ECF0F1;
	border-radius: 6px;
	margin: 10px;
}

.frm_area_common_single {
	width: 97%;
	float: left;
	background-color: #ECF0F1;
	border-radius: 6px;
	margin-top: 5px;
}

.frm_area_common_tab {
	width: 100%;
	float: left;
	background-color: #ECF0F1;
	border-radius: 6px;
	padding: 0px 0px 30px 0px;
}

.frm_area_common_tab_asset {
	width: 100%;
	float: left;
	background-color: #ECF0F1;
	border-radius: 6px;
	padding: 0px 0px 17px 0px;
}

.frm_area_1 {
	width: 100%;
	float: left;
}

.frm_area_1tradingapplication {
	width: 33%;
	float: left;
}
.frm_area_2 {
	width: 40%;
	float: left;
	padding: 10px 0px;
	font-size: 13px;
	font-weight: 500;
}

.frm_area_2_common {
	width: 183%;
	float: left;
	padding: 22px 0px;
	font-size: 13px;
	font-weight: 500;
}

.frm_area_2_common_tab {
	width: 183%;
	float: left;
	padding: 26px 0px;
	font-size: 13px;
	font-weight: 500;
}

.frm_area_2_commonrayulu {
	width: 40%;
	float: left;
	padding: 45px 0px;
	font-size: 13px;
	font-weight: 500;
}

.frm_area_4 {
	width: 30%;
	float: left;
	padding: 24px 0;
	font-size: 14px;
	font-weight: 600;
	border-radius: 5px;
}

.frm_area_3 {
	width: 54%;
	float: left;
	margin-left: 5%;
	margin-bottom: 3%;
}

.frm_area_1_check {
	width: 100%;
	float: left;
	background-color: #ECF0F1;
}

.frm_area_2_check {
	width: 100%;
	float: left;
	padding: 24px 0;
	font-size: 13px;
	font-weight: 600;
}

.text4 {
	background-color: #F9FBFB;
	height: auto;
	left: 0;
	overflow: hidden;
	position: inherit;
	right: 0;
	text-align: left;
	top: 0;
	line-height: 18px;
	padding: 10px 10px 7px 10px;
	width: 180px;
	color: #333;
	font-size: 13px;
	margin-right: 10px;
	border: 1px solid #ccc;
	border-radius: 12px;
}

.text4_common {
	background-color: #F9FBFB;
	border: 1px solid #ccc;
	color: #333;
	float: left;
	font-family: open_sansregular;
	font-size: 13px;
	font-weight: normal;
	height: 29px;
	line-height: 20px;
	margin-top: 15px;
	padding-left: 15px;
	width: 303%;
	overflow: hidden;
	position: inherit;
	right: 0;
	text-align: left;
	top: 0;
	line-height: 18px;
	border-radius: 12px;
}
.se a {
	width: 150px;
	float: left;
	background: #5ce5e5;
	color: #fff;
	padding: 12px 0;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	margin-left: 40%;
	margin-top: 2%;
	border-radius: 18px;
}

.se a:hover {
	width: 150px;
	float: left;
	background: #6C85A3;
	color: #fff;
	padding: 12px 0;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	margin-left: 40%;
	margin-top: 2%;
}

.se input {
	width: 150px;
	float: left;
	background: #6C85A3;
	color: #fff;
	padding: 12px 0;
	text-align: center;
	font-size: 13px;
	font-weight: 700;
	margin-left: 40%;
	margin-top: 2%;
	border-radius: 18px;
}

.sea a {
	width: 150px;
	float: left;
	background: #2bafaf;
	color: #fff;
	padding: 12px 0;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	margin-left: 1%;
	margin-top: 2%;
	border-radius: 18px;
}

.sea a:hover {
	width: 150px;
	float: left;
	background: #6C85A3;
	color: #fff;
	padding: 12px 0;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	margin-left: 1%;
	margin-top: 2%;
}

.sea input {
	width: 150px;
	float: left;
	background: #6C85A3;
	color: #fff;
	padding: 12px 0;
	text-align: center;
	font-size: 13px;
	font-weight: 700;
	margin-left: 1%;
	margin-top: 2%;
	border-radius: 18px;
}

.sr_frm {
	width: 70%;
	float: left;
}

.text2 {
	background-color: #e9eaea;
	border: medium none;
	color: #000;
	float: left;
	font-family: open_sansregular;
	font-size: 14px;
	font-weight: normal;
	height: 40px;
	line-height: 20px;
	margin-top: 15px;
	padding-left: 15px;
	width: 100%;
	border-radius: 18px;
}

.save a {
	width: 150px;
	float: left;
	background: #6C85A3;
	color: #fff;
	padding: 14px 0;
	text-align: center;
	margin-top: 15px;
	font-size: 14px;
	font-weight: 700;
	border-radius: 18px;
}

.save a:hover {
	width: 150px;
	float: left;
	background: #6C85A3;
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
}

/* Variables
 ------------------------------------------------------------- */
/* Animation from Animate.css
 ------------------------------------------------------------- */
@
-webkit-keyframes 
cardEnter { 0%, 20%, 40%, 60%, 80%, 100% {
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

0%
{
opacity
:
 
0;
-webkit-transform
:
 
scale3d
(0
.3
,
0
.3
,
0
.3
);


}
20%
{
-webkit-transform
:
 
scale3d
(1
.1
,
1
.1
,
1
.1
);


}
40%
{
-webkit-transform
:
 
scale3d
(0
.9
,
0
.9
,
0
.9
);


}
60%
{
opacity
:
 
1;
-webkit-transform
:
 
scale3d
(1
.03
,
1
.03
,
1
.03
);


}
80%
{
-webkit-transform
:
 
scale3d
(0
.97
,
0
.97
,
0
.97
);


}
100%
{
opacity
:
 
1;
-webkit-transform
:
 
scale3d
(1
,
1,
1);
}
}
@
keyframes 
cardEnter { 0%, 20%, 40%, 60%, 80%, 100% {
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

0%
{
opacity
:
 
0;
-webkit-transform
:
 
scale3d
(0
.3
,
0
.3
,
0
.3
);

 
transform
:
 
scale3d
(0
.3
,
0
.3
,
0
.3
);


}
20%
{
-webkit-transform
:
 
scale3d
(1
.1
,
1
.1
,
1
.1
);

 
transform
:
 
scale3d
(1
.1
,
1
.1
,
1
.1
);


}
40%
{
-webkit-transform
:
 
scale3d
(0
.9
,
0
.9
,
0
.9
);

 
transform
:
 
scale3d
(0
.9
,
0
.9
,
0
.9
);


}
60%
{
opacity
:
 
1;
-webkit-transform
:
 
scale3d
(1
.03
,
1
.03
,
1
.03
);

 
transform
:
 
scale3d
(1
.03
,
1
.03
,
1
.03
);


}
80%
{
-webkit-transform
:
 
scale3d
(0
.97
,
0
.97
,
0
.97
);

 
transform
:
 
scale3d
(0
.97
,
0
.97
,
0
.97
);


}
100%
{
opacity
:
 
1;
-webkit-transform
:
 
scale3d
(1
,
1,
1);
transform
:
 
scale3d
(1
,
1,
1);
}
}

/* Individual Controls
 ------------------------------------------------------------- */
.radio {
	display: inline-block;
	font-size: 12px;
	line-height: 0;
	cursor: pointer;
	font-weight: 700;
}

.radio:hover .inner {
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	opacity: .5;
}

.radio input {
	width: 1px;
	height: 1px;
	opacity: 0;
}

.radio input:checked+.outer .inner {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.radio input:checked+.outer {
	border: 3px solid #2BAFAF;
}

.radio input:focus+.outer .inner {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	background-color: #2BAFAF;
}

.radio .outer {
	width: 10px;
	height: 10px;
	display: block;
	float: left;
	margin: -6px 0 0 0;
	border: 3px solid #2BAFAF;
	border-radius: 50%;
	background-color: #5CE5E5;
}

.radio .inner {
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	width: 12px;
	height: 12px;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	display: block;
	margin: 0;
	border-radius: 50%;
	background-color: #5CE5E5;
	opacity: 0;
}

.left_pannel {
	width: 50%;
	float: left;
}

.left_pannel_single {
	width: 100%;
	float: left;
	padding: 10px 0px 0px 21px;
}

.left_pannel_common {
	width: 46%;
	float: left;
	padding: 0px 0px 0px 20px;
}

.left_pannel_common_multi {
	width: 46%;
	float: left;
	padding: 0px 0px 0px 20px;
	margin-top: 10px;
}

.left_pannel_common_multitwo {
	width: 50%;
	float: left;
	margin-top: 10px;
}

.lable_header {
	margin: 7px 0px 0px 15px;
	font-family: open_sansregular;
	font-size: 14px;
	font-weight: bolder;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 100px;
	background-color: #5CE5E5;
	background: none repeat scroll 0 0 #5CE5E5;
	color: #FFF;
	margin: 1px;
	padding: 10px 0;
	text-align: center;
	border-radius: 7px;
}

.lable_header_multi {
	margin: 4px 0px 0px 0px;
	font-family: open_sansregular;
	font-size: 14px;
	font-weight: bolder;
	padding: 0px 0px 0px 100px;
	margin: 4px 0px 0px 0px;
	padding: 4px 9px 6px 14px;
	text-align: center;
	border-radius: 7px;
}

.lable_headerrayulu_single {
	margin: 7px 0px 0px 15px;
	font-family: open_sansregular;
	font-size: 14px;
	font-weight: bolder;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 100px;
	background-color: #5CE5E5;
	background: none repeat scroll 0 0 #5CE5E5;
	color: #FFF;
	margin: 1px;
	padding: 5px 0;
	text-align: center;
	border-radius: 7px;
	width: 97%;
}

.lable_headerrayulu {
	font-family: open_sansregular;
	font-size: 14px;
	font-weight: bolder;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 100px;
	background-color: #5CE5E5;
	background: none repeat scroll 0 0 #5CE5E5;
	color: #FFF;
	margin: 1px;
	padding: 3px 0;
	text-align: center;
	border-radius: 7px;
}

.lable_headerrayulu_savedsearch {
	font-family: open_sansregular;
	font-size: 14px;
	font-weight: bolder;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 100px;
	margin: 1px;
	padding: 10px 0;
	text-align: center;
	border-radius: 7px;
}

.lable_headerrayulu_singel_multisearch {
	font-family: open_sansregular;
	font-size: 14px;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 100px;
	margin: 1px;
	padding: 10px 0;
	text-align: center;
	border-radius: 7px;
}

.ajxPlaceCs {
	width: 424px;
	margin: 10px 30px;
	background: url(../../_assets/images/new/map-icon.png) 5px 8px no-repeat
		#fff;
}

.multiselectoption {
	font-family: 'open_sansregular';
	font-size: 12px;
	color: #529ECC;
}

.login-form-content.Rowtradingapplication {
    display: table;
    width: 100%;
    background-color: #ECF0F1;
    padding-top: 20px;
}
.login-form-content.ColumnCommonvendorpage {
	width: 30%;
	float: left;
	margin: 0px 0px 0px 34px;
}
.login-form-content.ColumnCommonvendorpage {
	width: 30%;
	float: left;
	margin: 0px 0px 0px 34px;
}
.login-form-content.ColumnCommonvendorpre {
	width: 30%;
	float: left;
	margin: 0px 0px 0px 34px;
}

.control-group {
    margin-bottom: 20px;
}
.control-label {
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
}
.select {
    width: 190px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 12px;
    height: 45px;
}