@charset "utf-8";
/* CSS Document */
body {
	font-family: open_sansregular;
	font-size: 13px;
	line-height: 20px;
	padding: 0px;
	margin: 0px auto;
	text-align: left;
	font-weight: normal;
	color: #090909;
	background: #fff;
	border-ra
}

.right {
	float: right;
}

.left {
	float: left;
}

.img {
	border: none;
}

ul,li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

a,hover {
	border: none;
	text-decoration: none;
}

from,input,textarea,select {
	outline: 0;
}

h1,h2,h3,h4,h5,h6,h7 {
	padding: 0px;
	margin: 0px;
	font-weight: normal;
}

.clear {
	clear: both;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

p,strong {
	font-family: open_sansregular;
	font-size: 13px;
	font-weight: normal;
}

.sf-menu,.sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sf-menu li {
	position: relative;
}

.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}

.sf-menu>li {
	float: right;
}

.sf-menu li:hover>ul,.sf-menu li.sfHover>ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}

.sf-menu ul ul {
	top: 0;
	left: 100%;
}

/*** DEMO SKIN ***/
.sf-menu {
	float: left;
	margin-bottom: 1em;
}

.sf-menu ul {
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em;
	display: block;
	/* no auto sub width for IE7, see white-space comment below */
}

.sf-menu a {
	padding: .75em 1em;
	text-decoration: none;
	zoom: 1; /* IE7 */
}

.sf-menu a {
	color: #333;
	font-size: 12px;
}

.sf-menu li {
	
}

.sf-menu ul li {
	background: #e5e5e5;
}

.sf-menu ul ul li {
	background: #c1c1c1;
}

.sf-menu ul li:hover {
	background: #2aabab;
}

.sf-menu>li>ul>li:hover>a {
	color: #FFF;
}

.sf-menu ul ul li:hover a {
	color: #FFF;
}

.sf-menu li ul li a {
	border-bottom: 1px solid #FFF;
}

.wrapper {
	width: 1000px;
	height: auto;
	margin: 0px auto;
}

.menu {
	width: 100%;
	float: left;
	padding: 0;
	background: #2FBFBF;
}

.logo {
	width: 360px;
	height: auto;
	float: left;
}

.right_nav_area {
	width: 100%;
	float: left;
	margin-top: 1px;
}

.right_nav {
	font-family: open_sansregular;
	font-size: 13px;
	text-align: left;
}

.right_nav ul {
	margin: 0px;
	padding: 0px;
}

.right_nav ul li {
	margin-top: 0;
}

.right_nav ul li a {
	font-family: open_sansregular;
	font-size: 13px;
	color: #fff;
	background: #2BAFAF;
	text-decoration: none;
	text-align: left;
	padding: 6px 12px;
	float: left;
	text-align: center;
	font-weight: 700;
	border-right: 2px solid #fff;
}

.right_nav ul li a:hover {
	font-family: open_sansregular;
	font-size: 13px;
	color: #fff;
	text-decoration: none;
	text-align: left;
	background: #5CE5E5;
}

.right_nav ul li a.active {
	font-family: open_sansregular; 
	font-size: 13px;
	color: #FFF;
	background: #5CE5E5;
	text-decoration: none;
	text-align: left;
}

.right_nav_area_1 {
	width: 100%;
	float: left;
	margin: 5px 0;
}

.right_nav_1 {
	font-family: 'open_sansregular';
	font-size: 13px;
	text-align: left;
}

.right_nav_1 ul {
	margin: 0px;
	padding: 0px;
}

.right_nav_1 ul li {
	margin-top: 0;
}

.right_nav_1 ul li a {
	font-family: open_sansregular;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	text-align: left;
	padding: 3px 9px;
	float: left;
	text-align: center;
	background: #2BAFAF;
	margin-left: 2px;
	font-weight: 500;
}

.right_nav_1 ul li a:hover {
	font-family: open_sansregular;
	font-size: 13px;
	color: #fff;
	text-decoration: none;
	text-align: left;
	background: #5ce5e5;
}

#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #menu-button
	{
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 2;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#cssmenu:after,#cssmenu>ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#cssmenu #menu-button {
	display: none;
}

#cssmenu {
	width: auto;
	line-height: 1;
	margin-top: 0;
	position: relative;
	z-index: 1000;
}

#menu-line {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-ms-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}

#cssmenu>ul>li {
	float: left;
}

#cssmenu>ul>li img {
	position: relative;
	top: 11px;
}

#cssmenu.align-center>ul {
	font-size: 0;
	text-align: center;
}

#cssmenu.align-center>ul>li {
	display: inline-block;
	float: none;
}

#cssmenu.align-center ul ul {
	text-align: left;
}

#cssmenu.align-right>ul>li {
	float: right;
}

#cssmenu.align-right ul ul {
	text-align: right;
}

#cssmenu>ul>li>a {
	color: #fff;
	font-family: open_sansregular; 
	font-size: 13px;
	padding: 6px 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	transition: color 0.2s ease 0s;
}

#csstabname {
	color: #fff;
	font-family: open_sansregular;
	font-size: 13px;
	padding: 7px 13px;
	text-decoration: none;
	font-weight: 700;
	transition: color 0.2s ease 0s;
}

#cssmenu>ul>li:hover>a,#cssmenu>ul>li #active>a {
	color: #fff;
	background: #5CE5E5;
	border-radius: 0;
}

#cssmenu>ul>li.has-sub>a {
	padding-right: 25px;
}

#cssmenu>ul>li.has-sub>a::after {
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
	height: 6px;
	position: absolute;
	right: 12px;
	transform: rotate(45deg);
	transition: border-color 0.2s ease 0s;
	width: 6px;
}

#cssmenu>ul>li.has-sub:hover>a::after {
	border-color: #2bafaf;
}

#cssmenu ul ul {
	position: absolute;
	left: -9999px;
}

#cssmenu li:hover>ul {
	left: auto;
}

#cssmenu.align-right li:hover>ul {
	right: 0;
}

#cssmenu ul ul ul {
	margin-left: 100%;
	top: 0;
}

#cssmenu.align-right ul ul ul {
	margin-left: 0;
	margin-right: 100%;
}

#cssmenu ul ul li {
	-webkit-transition: height .1s ease;
	-moz-transition: height .1s ease;
	-ms-transition: height .2s ease;
	-o-transition: height .1s ease;
	transition: height .1s ease;
}

#cssmenu ul li:hover>ul>li {
	height: auto;
}

#cssmenu ul li>ul>li.spsr {
	height: 12px !important;
	display: block;
	color: #fff;
	font-size: 20px;
}

#cssmenu ul ul li a {
	padding: 8px 5px;
	width: 200px;
	font-family: open_sansregular; 
	font-size: 13px;
	background: #e5e5e5;
	border-bottom: 1px solid #fff;
	text-decoration: none;
	color: #000;
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-ms-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
}

.ar {
	width: auto;
	float: right;
	margin-left: 10px;
	margin-top: -11px;
}

#cssmenu ul ul li a span {
	display: block;
	color: #000;
	padding: 0;
}

#cssmenu ul ul li a span:hover {
	display: block;
	color: #fff;
	background: #000;
}

#cssmenu ul ul li:hover>a,#cssmenu ul ul li a:hover {
	color: #ffffff;
	background: #2bafaf;
}

#cssmenu ul ul li.has-sub>a::after {
	position: absolute;
	top: 5px;
	right: 10px;
	width: 4px;
	height: 4px;
	border-right: 1px solid #dddddd;
	content: "";
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: border-color 0.2s ease;
	-moz-transition: border-color 0.2s ease;
	-ms-transition: border-color 0.2s ease;
	-o-transition: border-color 0.2s ease;
	transition: border-color 0.2s ease;
}

#cssmenu.align-right ul ul li.has-sub>a::after {
	right: auto;
	left: 10px;
	border-bottom: 0;
	border-right: 0;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
}

#cssmenu ul ul li.has-sub:hover>a::after {
	border-color: #ffffff;
}

.text_area {
	width: 100%;
	float: left;
	color: #2bafaf;
	font-family: open_sansregular;
	font-size: 13px;
	margin: 1px 0;
}

.pannel_area {
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 8px;
	padding: 0px 0px 16px 0px;
	border-radius: 4px;
}

.pannel_top {
	width: 9.1%;
	font-family: open_sansregular;
	font-size: 13px;
	float: left;
	height: 50px;
	background: #2bafaf;
	padding: 20px 0 40px 2%;
	color: #FFFFFF;
	text-align: left;
	font-weight: 600;
}

.pannel_text {
	width: 100%;
	float: left;
	text-align: center;
	color: #434f4f;
	border-bottom: 1px solid #fff;
}

.pannel_top_1 {
	width: 8.1%;
	float: left;
	height: 90px;
	background: #d6dcdc;
	padding: 20px 0 40px 3%;
	color: #434f4f;
	font-weight: 700;
	text-align: left;
}

.pannel_top_2 {
	width: 9.1%;
	float: left;
	text-align: left;
	height: 90px;
	background: #edf1f1;
	padding: 20px 0 40px 2%;
	color: #434f4f;
	font-weight: 700;
}

.pannel_top_3 {
	width: 8%;
	float: left;
	height: 50px;
	font-family: open_sansregular;
	font-size: 13px;
	background: #2BAFAF;
	padding: 20px 0 40px;
	color: #fff;
	font-weight: 600;
	text-align: left;
	padding-left: 2%;
}

.pannel_top_4 {
	width: 9%;
	float: left;
	text-align: left;
	height: 90px;
	background: #D6DCDC;
	padding: 20px 0 40px 1%;
	color: #434f4f;
	font-weight: 700;
}

.pannel_top_5 {
	width: 8%;
	float: left;
	text-align: left;
	height: 90px;
	background: #edf1f1;
	padding: 20px 0 40px 2%;
	color: #434f4f;
	font-weight: 700;
}

.footer_area {
	width: 100%;
	float: left;
	padding: 20px 0;
	background: #fff;
	margin-top: 20px;
}

.footer_area_left {
	width: 65%;
	float: left;
	margin-left: 1%;
	font-weight: 700;
}

.footer_area_right {
	width: 33%;
	float: left;
	margin-left: 1%;
	font-weight: 700;
}

.right_nav_area_2 {
	width: 100%;
	float: left;
	margin: 5px 0;
}

.right_nav_2 {
	font-size: 13px;
	text-align: left;
}

.right_nav_2 ul {
	margin: 0px;
	padding: 0px;
}

.right_nav_2 ul li {
	margin-top: 0;
}

.right_nav_2 ul li a {
	font-family: open_sansregular;
	font-size: 13px;
	color: #242e3c;
	text-decoration: none;
	padding: 0 20px 0 0;
	text-align: left;
	float: left;
	text-align: center;
	margin-left: 2px;
	font-weight: 700;
}

.right_nav_2 ul li a:hover {
	font-family: open_sansregular;
	font-size: 13px;
	color: #242e3c;
	text-decoration: none;
	text-align: left;
}

.con_text {
	width: auto;
	float: left;
	margin-left: 5px;
	margin-top: 7px;
}

.con_icon {
	width: auto;
	float: left;
	margin-left: 5px;
}

.mar_num {
	margin-left: 33%;
	margin-top: 1.5%;
}
/*******************dropdown*************************/
.demo select {
	-moz-appearance: none;
	-webkit-appearance: none;
	background: #fff url("../images/arrow.png") no-repeat scroll 85% center;
	border: 0 none !important;
	color: #b0c1bd;
	font-weight: 200;
	padding: 11px;
	font-family: open_sansregular;
	font-size: 13px;
	text-indent: 0.01px;
	text-overflow: "";
	width: 5px;
	margin-top: 15px;
}

.seclect {
	width: auto;
	float: left;
	padding: 9px 5px 10px 20px;
	font-family: open_sansregular;
	font-size: 13px;
	color: #b0c1bd;
	font-weight: 200;
}

.text_area_1 {
	width: auto;
	float: left;
	color: #000;
	margin: 14px 10px 10px 0;
	font-weight: 600;
	font-family: open_sansregular;
	font-size: 13px;
}

  .Rowtableinfovaluserpngbefore {
	display: table;
	width: 100%;
	padding: 51px 36px 1px 11px;
}

.ColumnCommonrayuserpngbefore {
	width: 18%;
	float: right;
	margin-top: 5px;
	padding: 2px 0px 8px 16px;
}

.ColumnCommonrayuserlogoutbefore {
	width: 18%;
	float: right;
	margin-top: 10px;
	padding: 2px 0px 8px 109px;
}  

.lable_headeractionsuserpng {
	font-family: open_sansregular;
	font-size: 12px;
	font-weight: bold;
	background-color: #6C85A3;
	background: #FFF;
	color: #02150D;
	margin: -100px;
	padding: 7px 9px 8px 9px;
	text-align: center;
	border-radius: 7px;
}

/*******************end dropdown*************************/
.area {
	width: auto;
	float: right;
	margin-right: -5%;
	margin-top: 15px;
}

.area_1 {
	width: auto;
	float: right;
	margin-right: 0;
	color: #000;
}

.arw {
	margin: 1px 7px;
	width: auto;
	float: left;
}

.text_arw {
	width: auto;
	float: left;
}

.vandor_name_back {
	background: #5ce5e5 !important
}

.ic {
	width: auto;
	margin: 0 10px;
	float: left;
	margin-top: 65px;
}

.icupload {
	width: auto;
	margin: 0 71px;
	float: left;
	margin-top: -30px;
}

.ic_text {
	width: auto;
	float: left;
	font-family: open_sansregular;
	font-size: 13px;
	font-weight: 600;
	margin-top: 67px;
}

.ic_textupload {
	width: auto;
	float: left;
	font-family: open_sansregular;
	font-size: 13px;
	font-weight: 600;
	margin-top: -27px;
}

.ic_text a {
	color: #FF7F00;
}

.ic_text a:hover {
	color: #000;
}

/***********************************************Search Form*************************************/
.text1 {
	background-color: #fff;
	border: 0;
	/* border-radius: 3px; */
	color: #2bafaf;
	float: left;
	font-family: open_sansregular;
	font-size: 13px;
	font-weight: normal;
	height: 26px;
	line-height: 20px;
	margin: 0;
	padding-left: 15px;
	width: 131px;
}

.search_b {
	background: #fff;
	border: none;
}

.search_area {
	width: 190px;
	float: left;
	margin-top: -6px;
	margin-bottom: 10px;
	margin-right: 12px;
	border: 1px solid #2bafaf;
	margin-left: 10px;
}

/*****************************************************************************/
nav,ul,li,a {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.toggleMenu {
	display: none;
	padding: 10px 15px;
	color: #000;
}

.nav {
	list-style: none;
	*zoom: 1;
}

.nav:before,.nav:after {
	content: " ";
	display: table;
}

.nav:after {
	clear: both;
}

.nav ul {
	list-style: none;
	width: 200%;
	background: #D6DCDC;
}

.nav a {
	padding: 6px 20px;
	color: #000;
	font-size: 100%;
	font-weight: 500;
}

.nav li {
	position: relative;
}

.nav>li {
	float: left;
}

.nav>li>.parent {
	background-image: url("../images/downArrow.png");
	background-repeat: no-repeat;
	background-position: right;
}

.nav>li>a {
	display: block;
}

.nav>li>a:hover {
	display: block;
	color: #FF7F00;
}

.nav>li>a.active {
	display: block;
	color: #FF7F00;
}

.nav li  ul {
	position: absolute;
	left: -9999px;
	line-height: 25px;
	border: 1px solid #AAA;
}

.nav>li.hover>ul {
	left: 0;
}

.nav li li.hover ul {
	left: 100%;
	top: 0;
}

.cd-user-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; /*background: rgba(52, 54, 66, 0.9)*/
	z-index: 99;
	overflow-y: auto;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
	-moz-transition: opacity 0.3s 0, visibility 0 0.3s;
	transition: opacity 0.3s 0, visibility 0 0.3s;
}

.cd-user-modal.is-visible {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.3s 0, visibility 0 0;
	-moz-transition: opacity 0.3s 0, visibility 0 0;
	transition: opacity 0.3s 0, visibility 0 0;
}

.cd-user-modal.is-visible .cd-user-modal-container {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

.cd-user-modal-container {
	position: relative;
	width: 485px;
	background: url(../images/login-bg.png);
	margin: 80px auto 0 auto;
	cursor: auto;
	border-radius: 10px;
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	-o-transform: translateY(-30px);
	transform: translateY(-30px);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.cd-user-modal-container1 {
	position: relative;
	width: 560px;
	background: url(../images/login-bg.png);
	margin: 190px auto 0 auto;
	cursor: auto;
	border-radius: 10px;
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	-o-transform: translateY(-30px);
	transform: translateY(-30px);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

#cd-login,#cd-signup,#cd-reset-password {
	display: block;
	padding: 10px;
}

#cd-login.is-selected,#cd-signup.is-selected,#cd-reset-password.is-selected
	{
	
}

.login-wrap-pop {
	background: #FFF;
	padding: 40px 0 40px 50px;
}

.login-wrap-pop1 {
	background: #FFF;
	padding: 1px 0 1px 1px;
}

.login-wrap-pop-tag-register {
	background: #FFF;
	padding: 15px 0 15px 20px;
}

.login-wrap-pop-tag-aggregator {
	background: url("../images/section-background.png") #FFF;
	padding: 8px 0 8px 10px;
}

.login-wrap-pop h4 {
	font-size: 20px;
	color: #7F7F7F;
	font-family: 'open_sansregular';
	padding: 0 0 15px 0;
}

.login-form-content {
	
}

.login-form-content .Row {
	display: table;
	width: 100%;
}

.login-form-content .Column {
	width: 20%;
}

.login-form-content .ColumnCommon {
	width: 18%;
	float: left;
	padding: 8px;
}

.login-form-content .ColumnCommonSingle {
	width: 46%;
	float: left;
}

.login-form-content .ColumnCommonSingletwo {
	width: 50%;
	float: left;
}

.login-form-content .ColumnName {
	display: table-cell;
	float: left;
}

.login-form-content .ColumnNextNames {
	display: table-cell;
	float: left;
	padding: 1px px 3px 96px;
}

.login-form-content .login-form {
	padding: 0 0 5px 0;
}

.login-form-content .login-form .label {
	float: left;
	font-size: 13px;
	color: #7F7F7F;
	width: 215px;
	padding: 6px 0 0 0;
}

.login-form-content .login-form .login {
	background: #2aabab;
	color: #FFF;
	float: left;
	font-size: 12px;
	padding: 8px 20px;
}

.login-form-content .login-form .label .required {
	color: #e02222;
	font-size: 12px;
	padding-left: 2px;
}

.login-form-content .login-form .labellogin {
	float: left;
	font-size: 13px;
	color: #7F7F7F;
	width: 90px;
	padding: 6px 0 0 0;
}

.login-form-content .login-form .labellogin .required {
	color: #e02222;
	font-size: 12px;
	padding-left: 2px;
}

.login-form-content .login-form .input {
	float: left;
	width: 220px;
	height: 26px;
	font-size: 13px;
	color: #7F7F7F;
	border: 1px solid #d0d0d0;
	padding: 0 10px;
}

.login-form-content1 .login-form1 .input1 {
	float: left;
	width: 220px;
	height: 26px;
	font-size: 13px;
	color: #7F7F7F;
	border: 1px solid #d0d0d0;
	padding: 0 10px;
}

.login-form-content .span3 {
	width: 260px;
}

.login-ft {
	padding: 0 0 0 90px;
}

.login-ft .login {
	background: #2aabab;
	color: #FFF;
	float: left;
	font-size: 12px;
	padding: 8px 20px;
}

.login-ft .forgot {
	float: left;
	font-size: 11px;
	color: #7F7F7F;
	padding: 8px 0 0 10px;
}

.login-ft .login:hover {
	background: #056464;
}

.login-ft .forgot:hover {
	color: #000;
}

.radio-ft .input {
	background: #2aabab;
	color: #FFF;
	float: left;
	font-size: 12px;
	padding: 8px 20px;
	position: relative;
	top: -8%;
	left: 400px;
	width: 30%;
}