/*** ESSENTIAL STYLES ***/
.sf-menu,.sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sf-menu li {
	position: relative;
}

.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}

.sf-menu>li {
	float: right;
}

.sf-menu li:hover>ul,.sf-menu li.sfHover>ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}

.sf-menu ul ul {
	top: 0;
	left: 100%;
}

/*** DEMO SKIN ***/
.sf-menu {
	float: left;
	margin-bottom: 1em;
}

.sf-menu ul {
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em;
	display: block;
	/* no auto sub width for IE7, see white-space comment below */
}

.sf-menu a {
	padding: .75em 1em;
	text-decoration: none;
	zoom: 1; /* IE7 */
}

.sf-menu a {
	color: #333;
	font-size: 12px;
}

.sf-menu li {
	
}

.sf-menu ul li {
	background: #e5e5e5;
}

.sf-menu ul ul li {
	background: #c1c1c1;
}

.sf-menu ul li:hover {
	background: #2aabab;
}

.sf-menu>li>ul>li:hover>a {
	color: #FFF;
}

.sf-menu ul ul li:hover a {
	color: #FFF;
}

.sf-menu li ul li a {
	border-bottom: 1px solid #FFF;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #dFeEFF;
	/* edit this to suit design (no rgba in IE8) */
	border-top-color: #000;
}

.sf-arrows>li>.sf-with-ul:focus:after,.sf-arrows>li:hover>.sf-with-ul:after,.sf-arrows>.sfHover>.sf-with-ul:after
	{
	border-top-color: #ff8000; /* IE8 fallback colour */
}

/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #000;
	/* edit this to suit design (no rgba in IE8) */
	border-left-color: #000;
}

.sf-arrows ul li>.sf-with-ul:focus:after,.sf-arrows ul li:hover>.sf-with-ul:after,.sf-arrows ul .sfHover>.sf-with-ul:after
	{
	border-left-color: #000;
}